@font-face {
    font-family: Comfortaa;
    src: url(fonts/Comfortaa.ttf);
}
@font-face {
    font-family: Fira Code;
    src: url(fonts/FiraCode.ttf);
}
body {
    background-color: #3B4252;
    color: #D8DEE9;
    font-family: comfortaa;
}

/* Cabeçario */
header {
    display: block;
    background-color: #2E3440;
    border: 1px solid #D8DEE9;
    border-radius: 10px;
    height: 10%;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    padding: 0;
    line-height: 50px;
    color: #D8DEE9;
    padding: 10px 18px;
    box-shadow: 5px 5px 5px #2E3440,
                5px 5px 5px #3B4252;
}

/* Nav Bar */
nav {
    background-color: #2E3440;
    color: #D8DEE9;
    border: 1px solid #D8DEE9;
    border-radius: 10px;
    margin: 10px;
    padding: 0;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 10px;
    box-shadow: 0 10px 10px #2E3440,
                0 10px 10px #3B4252;
}
nav div {
    position: relative;
}
nav::after {
    clear: both;
    content: '';
    display: table;
}
nav img {
    display: inline-flex;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
nav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    margin-right: 1%;
}
nav ul li {
    background-color: #2E3440;
    float: left;
    margin: 0 5px;
}
nav ul li a {
    border: 1px solid #D8DEE9;
    border-radius: 10px;
    color: #D8DEE9;
    font-size: 18px;
    line-height: 70px;
    padding: 8px 15px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #D8DEE9;
    color: #2E3440;
    border-radius: 10px;
    box-shadow: 0 0 5px #4C566A,
                0 0 5px #434C5E;
}
nav ul ul {
    background-color: #2E3440;
    border: 1px solid #D8DEE9;
    border-top: 5px solid #D8DEE9;
    border-radius: 10px;
    opacity: 0;
    position: absolute;
    top: 90px;
    transition: top .3s;
    visibility: hidden;
    padding: 0;
    width: 150px;
}
nav ul li:hover > ul {
    opacity: 1;
    top: 70px;
    visibility: visible;
}
nav ul ul li {
    display: list-item;
    float: none;
    margin: 0;
    position: relative;
    border-radius: 10px;
}
nav ul ul li a {
    padding: 5px 15px;
    border: none;
    display: block;
    height: 35px;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
    border-radius: 10px;
}

.fa-plus {
    font-size: 25px;
    margin-left: 40px;
}
.show, .show-active, .icon, input {
    display: none;
}
@media screen and (max-width: 968px) {
    nav .icon {
        line-height: 100%;
        margin-top: 35px;
    }
    nav ul {
        float: left;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0;
    }
    nav img {
        padding-left: 30px;
    }
    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    nav ul ul {
        border: 1px solid #D8DEE9;
        display: none;
        float: none;
        opacity: 1;
        position: static;
        top: 70px;
        visibility: visible;
    }
    nav ul li label {
        border: 1px solid #D8DEE9;
        border-radius: 10px;
    }
    nav ul li ul {
        border: none;
        width: 100%;
    }
    nav ul li a {
        line-height: 50px;
        width: 90.9%;
        height: 50px;
        float: left;
    }
    nav ul li ul li a {
        margin-left: 0;
        border: 1px solid #D8DEE9;
        border-radius: 10px;
        text-align: center;
        width: 90.9%;
    }
    nav ul ul li {
        background-color: none;
        width: 100%;
    }
    nav ul ul a {
        background-color: #2E3440;
        text-align: center;
    }
    .show, .show-active {
        color: #D8DEE9;
        cursor: pointer;
        display: block;
        font-size: 18px;
        line-height: 70px;
        padding: 0 /*20px*/;
        background-color: #2E3440;
        text-decoration: none;
        text-align: center;
        width: 100%;

    }
    .show:hover, .show-active:hover {
        background-color: #D8DEE9;
        color: #2E3440;
        border-radius: 10px;
        box-shadow: 0 0 5px #4C566A,
                    0 0 5px #434C5E;
    }
    nav .icon {
        background-color: none;
        color: #D8DEE9;
        cursor: pointer;
        display: block;
        font-size: 25px;
        position: absolute;
        width: 10%;
        left: 90%;
        margin: 0;
        top: 0;
        line-height: 75px;
        text-align: center;
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    .show + a, .show-active + a, nav ul {
        display: none;
    }
    input[type="checkbox"]:checked + ul {
        display: block;
    }
    main p {
        text-align: center;
        width: auto !important;
    }
}

nav .active, nav .show-active {
    background-color: #D8DEE9;
    color: #2E3440;
}

/* Main */
main {
    background-color: #2E3440;
    border: 1px solid #D8DEE9;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 10px 5px #2E3440,
                10px 10px 5px #3B4252;
}
main h1, h2, h3 {
    text-align: center;
}
main p {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
main dl {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
main dd {
    text-decoration: underline;
    text-decoration-color: #434C5E;
    color: #D8DEE9;
}
main ol {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}
main ol li::marker {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
main ol code {
    margin-left: auto;
    margin-right: auto;
}
main a {
    text-decoration: underline;
    text-decoration-color: #4C566A;
    color: #D8DEE9;
}
main a:hover {
    text-decoration: underline;
    text-decoration-color: #D8DEE9;
    color: #434C5E;
}
main code {
    font-family: Fira Code;
    background-color: #4C566A;
    border: 1px solid #D8DEE9;
    border-radius: 10px;
    padding: 10px;
    color: #D8DEE9;
    display: table;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
    box-shadow: 5px 5px 5px #3B4252,
                5px 5px 5px #4C566A;
}
main img {
    width: 50%;
    border-radius: 10px;
    margin: auto;
    display: block;
    box-shadow: 5px 5px 5px #3B4252,
                5px 5px 5px #4C566A;
}
main mark {
    border: 1px solid #D8DEE9;
    border-radius: 10px;
    padding: 5px;
    font-family: Comfortaa;
    background-color: #2E3440;
    color: #D8DEE9;
    display: table;
    max-width: 100%;
    word-break: break-word;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #3B4252,
                5px 5px 5px #4C566A;
}
main table {
    box-shadow: 5px 5px 5px #3B4252,
                5px 5px 5px #4C566A;
    margin-top: 15px;
    text-align: center;
    overflow:hidden;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
main td {
    color: #D8DEE9;
    background-color: none;
    padding: 10px;
    text-align: center;
    border: 1px solid #D8DEE9;
}
main th {
    text-align: center;
    color: white;
    background-color: none;
    font-weight: normal;
    text-align: center;
    padding: 10px;
    border: 1px solid #D8DEE9;
}
main tbody#detaque:hover, tr:hover {
    background-color: #4c566a;
}
main pre {
    font-family: Fira Code;
    background-color: #4C566A;
    border: 1px solid #D8DEE9;
    border-radius: 10px;
    padding: 10px;
    color: #D8DEE9;
    display: table;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
    white-space:normal;
    box-shadow: 5px 5px 5px #3B4252,
                5px 5px 5px #4C566A;
}

/* Rodapé */
footer {
    background-color: #2E3440;
    border: 1px solid #D8DEE9;
    border-radius: 10px;
    padding: 0;
    margin: 10px;
    height: 100px;
    box-shadow: 10px 10px 5px #2E3440,
                10px 10px 5px #3B4252;
}
footer ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
footer ul li {
    display: inline-block;
    margin: 10px;
    position: relative;
}
footer a {
    text-decoration: underline;
    text-decoration-color: #4C566A;
    font-family: Comfortaa;
    color: #D8DEE9;
}

/* Botão Próximo */
.button_prox {
    display: inline-block;
    border-radius: 10px;
    background-color: #2E3440;
    border: 1px solid #d8dee9;
    color: #D8DEE9;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button_prox span {
    background-color: #2E3440;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button_prox span:after {
    content: '↪';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s;
}
.button_prox:hover span {
    padding-right: 20px;
    background-color: #D8DEE9;
    color: #2E3440;
}
.button_prox:hover {
    background-color: #D8DEE9;
    color: #2E3440;
}
.button_prox:hover span:after {
    opacity: 1;
    right: 0;
}

/* Botão Anterior */
.button_ant {
    display: inline-block;
    border-radius: 10px;
    background-color: #2E3440;
    border: 1px solid #d8dee9;
    color: #D8DEE9;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button_ant span {
    background-color: #2E3440;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button_ant span:after {
    content: '↩';
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
}
.button_ant:hover span {
    padding-left: 20px;
    background-color: #D8DEE9;
    color: #2E3440;
}
.button_ant:hover {
    background-color: #D8DEE9;
    color: #2E3440;
}
.button_ant:hover span:after {
    opacity: 1;
    left: 0;
}

.foto {
    width: 150px;
    border-radius: 50%;
}
.fa-circle-arrow-down {
    font-size: 25px;
}