mark{
  background-color: #4c566a;
  color: #d8dee9;
}

body{
  background-color: #3b4252;
  color: #d8dee9;

  font-family: Fira Code, Arial, sans-serif;
}

h1{
  color: #d8dee9;
}

hr{
  color: #d8dee9;
}

a{
  color: #d8dee9;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/FiraCode.ttf') format('truetype');
}

img{
  width: 600px;
}

table, th, td{
        border: solid 1px #d8dee9;
        border-collapse: collapse;
        padding: 10px;
}
th{
  text-align: center;
}
td{
  text-align: center;
}
p{
  max-width: 600px;
}
tbody#detaque:hover, tr:hover{
  background-color: #4c566a;
}
code{
  background-color: #4c566a;
  color: #d8dee9;
}
