@font-face {
  font-family: 'Confortaa';
  src: url('fonts/Comfortaa.ttf') format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  src: url('fonts/FiraCode.ttf') format('truetype');
}
body{
  background-color: #3b4252;
  color: #d8dee9;

  font-family: Confortaa, Arial, sans-serif;
}
mark{
  background-color: #4c566a;
  color: #d8dee9;
}
h1{
  color: #d8dee9;
}
hr{
  color: #d8dee9;
}
a{
  color: #d8dee9;
}
img{
  width: 600px;
}
table, th, td{
        border: solid 1px #d8dee9;
        border-collapse: collapse;
        padding: 10px;
}
th{
  text-align: center;
}
td{
  text-align: center;
}
p{
  max-width: 600px;
}
tbody#detaque:hover, tr:hover{
  background-color: #4c566a;
}
code{
  background-color: #4c566a;
  color: #d8dee9;
  font-family: Fira Code;
}

/* Nav Bar */
.nav {
  background-color: #2E3440;
  border: 1px solid #d8dee9;
  border-radius: 10px;
  color: #D8DEE9;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.dropdown {
  border-radius: 10px;
  color: #d8dee9;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
}
.navli {
  float: left;
}

.navli .nava, .dropbtn, .activenava {
  border-radius: 10px;
  color: #d8dee9;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.navli .nava:hover, .dropdown:hover .dropbtn {
  background-color: #434C5E;
  color: #d8dee9;
}

.navli, .dropdown {
  display: inline-block;
}

.dropdown-content {
  background-color: #2E3440;
  border: 1px solid #d8dee9;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content .navad {
  color: #d8dee9;
  display: block;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
}

.dropdown-content .navad:hover {
	background-color: #434C5E;
  border-radius: 10px;
  color: #d8dee9;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.activenava {
  background-color: #d8dee9;
  color: #2E3440;
}
.dropbtna {
  background-color: #d8dee9;
  border-radius: 10px;
  color: #2E3440;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* Botão Próximo */
.button_prox {
  display: inline-block;
  border-radius: 10px;
  background-color: #2E3440;
  border: 1px solid #d8dee9;
  color: #D8DEE9;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button_prox span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_prox span:after {
  content: '↪';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
}

.button_prox:hover span {
  padding-right: 25px;
}

.button_prox:hover span:after {
  opacity: 1;
  right: 0;
}

/* Botão Anterior */
.button_ant {
  display: inline-block;
  border-radius: 10px;
  background-color: #2E3440;
  border: 1px solid #d8dee9;
  color: #D8DEE9;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button_ant span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_ant span:after {
  content: '↩';
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s;
}

.button_ant:hover span {
  padding-left: 25px;
}

.button_ant:hover span:after {
  opacity: 1;
  left: 0;
}

/* Foto de Perfil */
.perfil {
  float: left;
  margin: 10px;
}
