* {
	font-family: comfortaa;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::selection {
    background-color: var(--cor-texto);
    color: var(--cor-body);
}

/* ----- Variveis ----- */
:root {
	--cor-body:  #c6d8d3;
	--cor-sidebar: #648090;
	--cor-primaria: #3e505b;
	--cor-primaria-clara: #3e505b;
	--cor-toggle: #111518;
	--cor-texto: #111518;

	/* ----- Transicao ----- */
	--tran-02: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.4s ease;
	--tran-05: all 0.5s ease;
}

body {
	height: 100vh;
	background-color: var(--cor-body);
	transition: var(--tran-05);
}

body.dark {
	--cor-body: #3e505b;
  --cor-sidebar: #192024;
  --cor-primaria: #7d98a1;
  --cor-primaria-clara: #111518;
  --cor-toggle: #648090;
  --cor-texto: #c6d8d3;
}
/* -------------------- */

/* ----- SideBar ----- */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	padding: 10px 14px;
	background-color: var(--cor-sidebar);
	transition: var(--tran-05);
	z-index: 100;
}

.sidebar.close {
	width: 88px;
}
/* ------------------- */

/* ----- CSS Reutilizavel ----- */
.sidebar text {
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-texto);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    transition: var(--tran-05);
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--cor-texto);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
    color: var(--cor-texto);
    transition: var(--tran-05);
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--cor-sidebar);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar header .toggle::before {
    color: var(--cor-sidebar);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--cor-texto);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--cor-primaria);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--cor-sidebar);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--cor-sidebar);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color: var(--cor-primaria-clara);
    transition: var(--tran-05);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--cor-primaria-clara);
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--cor-toggle);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--cor-sidebar);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;

}

.home {
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--cor-body);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--cor-texto);
    padding: 8px 40px;
}

.home h2 {
	font-size: 30px;
	margin-left: 10px;
}

.home a {
	text-decoration: none;
	color: var(--cor-texto);
}

.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}

/* Skill Progress */
.container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  background: var(--cor-sidebar);
  margin: auto;
  padding: 10px 20px;
  border-radius: 7px;
}

.container .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: var(--cor-texto);
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: var(--cor-body);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: var(--cor-toggle);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.logo {
  font-size: 25px;
}

.skill-per.css {
	width: 85%;
	animation-delay: 0.1s
}

.skill-per.shell {
  width: 80%;
  animation-delay: 0.2s;
}

.skill-per.python {
  width: 70%;
  animation-delay: 0.3s;
}

.skill-per.c {
  width: 40%;
  animation-delay: 0.4s;
}

.skill-per.js {
  width: 20%;
  animation-delay: 0.5s;
}

@keyframes progress {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.skill-per .tooltip {
	position: absolute;
	right: -14px;
	top: -3px;
	font-size: 9px;
	font-weight: 500;
	color: var(--cor-body);
	padding: 2px 6px;
	border-radius: 3px;
	background-color: var(--cor-toggle);
}

body.dark .skill-per .tooltip {
	color: var(--cor-texto);
}

@media screen and (max-width: 700px) {
    .home.hide {
        opacity: 0;
    }
    .home.show {
        opacity: 1;
    }
}

.msg-alertas {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
}

.ms {
    width: 100%;
    margin: auto;
    padding: 10px;
    display: block;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}

.ms.info {
    background-color: var(--cor-sidebar);
    color: var(--cor-texto);
    border-radius: 6px;
    font-size: 20px;
    transition: var(--tran-04);
}
.ms.info a {
    color: var(--cor-texto);
    text-decoration-color: var(--cor-primaria-clara);
    transition: var(--tran-04);
}

.ms.info a:hover {
    color: var(--cor-primaria-clara);
    text-decoration-color: var(--cor-texto);
    transition: var(--tran-04);
}

.ms.info .close-btn {
    float: right;
}
